body {
    margin: 0;
}

header {
    background-image: url(image/videoblocks-software-programmer-code-move-in-frotn-of-the-camdera-under-grid-software-development-concept_bood3_f3l_thumbnail-1080_10.png);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vmax;
}
.button-header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    opacity: 70%;
}

.button-header-container p {
    text-align: center;
    
}
.title h1{
    margin: 30px 0;
    text-align: center;
}
.title h2 {
    font-size: 15px;
    text-align: center;
    margin: 10px 0 20px 0;
}

.photo-of-me img {
    border-radius: 100%;
    width: 200px;
}
.photo-of-me {
    margin: 10px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(23, 88, 88);
    color: white;
}

.text {
    background-color: rgb(12, 43, 43);
    padding: 10px;
    opacity: 50%;
}

.projects-images {
    width: 100%;
}
.projetos {
    padding: 10px;
    background-color: rgb(10, 47, 61);
    color: white;
}
.projetos div {
    padding: 10px;
    opacity: 90%;
    background-color: rgb(5, 12, 34);
    margin: 20px 0;
    border: solid 1px white;
}
.wpp-logo {
    width: 20%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}
.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.redes-sociais {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: white;
}
.redes-sociais img {
    width: 15%;
}
hr {
    width: 70%;
}